# ------------ Switches --------------------
set_io a G12 # -> IOR_129 -> BB30 -> DIP8
set_io b F12 # -> IOR_137 -> BB31 -> DIP7

# ------------ LEDs --------------------
set_io c G14 # -> IOR_141 -> BB21 -> L1
