
# Pin configuration for iCE40HX-8K Alchitry-IO

set_io clk       P7
set_io notreset  P8

set_io ioled[0]  G14
set_io ioled[1]  F14
set_io ioled[2]  E12
set_io ioled[3]  E14
set_io ioled[4]  D14
set_io ioled[5]  C14
set_io ioled[6]  B14
set_io ioled[7]  A12
set_io ioled[8]  C10
set_io ioled[9]  C9
set_io ioled[10] A11
set_io ioled[11] A10
set_io ioled[12] A7
set_io ioled[13] A6
set_io ioled[14] A4
set_io ioled[15] A3
set_io ioled[16] A2
set_io ioled[17] A1
set_io ioled[18] C3
set_io ioled[19] D3
set_io ioled[20] B1
set_io ioled[21] C1
set_io ioled[22] D1
set_io ioled[23] E1
