# ------------ io-led -----------------------------------------------------------
set_io tick J11  # led0


# ------------ System 100 MHz clock --------------------------------------------
set_io clk   P7  # 100MHz clock
